#main-navbar.navbar.navbar-fixed-top.clearHeader
	.container
		a.navbar-brand(href="#")
			img(src="/assets/img/asthmasense-2.png", alt="asthmasense")
		a.expanded-menu.pull-right(href="#")
			img(src="/assets/img/menu-black.png", alt="menu")
		ul.nav.navbar-nav.pull-right.hidden-xs
			li
				a(href="/") AirSonea
			li
				a(href="#") AsthmaSense Cloud
			li
				a(href="#") Blog
			li
				a(href="/getstarted.html") Get Started
								
section
	#header-carousel.carousel.slide
		.carousel-inner
			.item.active
				img(src="/assets/img/phone.png", alt="phone")
				.carousel-caption.left
					h2 AsthmaSense
					p Anytime. Anywhere. AsthmaSense Cloud — The World’s Most Intelligent Asthma App is available for free at the Apple App Store, Google Play and the Amazon App Store..
			.item
				img(src="/assets/img/ipad.png", alt="ipad")
				.carousel-caption
			.item				
				img(src="/assets/img/macbookair.png", alt="macbookair")
				.carousel-caption
		a.left.carousel-control(href="#header-carousel", data-slide="prev")
			span.icon-prev
		a.right.carousel-control(href="#header-carousel", data-slide="next")
			span.icon-next
		ol.carousel-indicators
			li.active(data-target="#header-carousel", data-slide-to="0")
			li(data-target="#header-carousel", data-slide-to="1")
			li(data-target="#header-carousel", data-slide-to="2")
			
	.container#circles.circles
		.row
			.col-sm-4
				.circle
					img.air(src="/assets/img/airsonea.png")
				h4.center Airsonea
				p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
				a.center.plus(href="#myModal", data-toggle="modal") &plus;
				#myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
								h4.modal-title Modal Title
							.modal-body
								p Body Content
							.modal-footer
								button.btn.btn-default(type="button", data-dismiss="modal") Close
								button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes
			.col-sm-4
				.circle
					img.as(src="/assets/img/sense.png")
				h4.center AsthmaSense
				p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
				a.center.plus(href="#modalTwo", data-toggle="modal") &plus;
				#modalTwo.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
								h4.modal-title Modal Title
							.modal-body
								p Body Content
							.modal-footer
								button.btn.btn-default(type="button", data-dismiss="modal") Close
								button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes
			.col-sm-4
				.circle
					img.blog(src="/assets/img/blog.png", alt="blog")
				h4.center Blog
				p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
				a.center.plus(href="#modalThree", data-toggle="modal") &plus;
				#modalThree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
					.modal-dialog
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
								h4.modal-title Modal Title
							.modal-body
								p Body Content
							.modal-footer
								button.btn.btn-default(type="button", data-dismiss="modal") Close
								button.btn.btn-primary(type="button", data-dismiss="modal") Save Changes

section#intro.intro
	#feature-carousel.carousel.slide
		ol.carousel-indicators
			li.shot1.active(data-target="#feature-carousel", data-slide-to="0")
			li.shot2(data-target="#feature-carousel", data-slide-to="1")
			li.shot3(data-target="#feature-carousel", data-slide-to="2")
			li.shot4(data-target="#feature-carousel", data-slide-to="3")
		.carousel-inner
			.item.active
				img(src="/assets/img/breezi_placeit-1.png", alt="phone")
				.carousel-caption.left
					h1 Alert Status
					p Receive alerts when your asthma risk changes or may not be well controlled*. If your risk for an asthma attack is high, easily access all emergency contact information with one tap.
					h3 Did you know?
					p You can control your asthma by knowing the warning signs of an asthma attack. Making sure your asthma stays well controlled can allow you to sleep better, not miss as much work or school, take part in physical activities and most important of all, not have to go to the hospital.
			.item.left
				img(src="/assets/img/breezi_placeit-2.png", alt="ipad")
				.carousel-caption.left
					h1 Reminders for Medications:
					p Set reminds for each user for medication use and peak flow testing. Receive the alerts you need to stay on top of your asthma.
					h3 Did you know?
					p Most children and adults diagnosed with asthma do not keep their asthma under control, mostly due to not properly taking medications when prescribed and proper peak flow testing.
			.item.left			
				img(src="/assets/img/breezi_placeit-3.png", alt="macbookair")
				.carousel-caption.left
					h1 Track & Measure
					p Track symptoms, triggers, lung function measurements and medication usage. Review one month of records to properly adhere to your treatment plan and manage your asthma.
					h3 Did you know?
					p The goal of asthma treatment to control the disease is by adhering to an treatment plan that you created with your doctor. Take asthma medicines as prescribed, along with tracking symptoms and triggers can help you play an active role in managing your asthma.
			.item.left	
				img(src="/assets/img/breezi_placeit.png", alt="macbookair")
				.carousel-caption.left
					h1 Weather with a Purpose
					p Keep a heads up on the weather to better prepare you for your day. Know if the pollen count is high that day or if dark skies are moving in so you can better manage your asthma.
					h3 Did you know?
					p It's not just pollen to watching for -- Days with high humidity, especially cold days, and thunderstorms are known factors in alleviating an asthmatic's risk of an attack. Keeping the weather and your asthma symptoms and triggers in one smartphone app can help you see the connection between your asthma risk, triggers and the weather in your area. 
		a.left.carousel-control(href="#feature-carousel", data-slide="prev")
			span.icon-prev
		a.right.carousel-control(href="#feature-carousel", data-slide="next")
			span.icon-next					
				
section.manage
	.container
		.row
			.col-sm-4
				a.center.btn.btn-success(href="#") Download	Now
			.col-sm-8
				h2 Management at your Fingertips
				p Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula. Vestibulum in arcu eu neque rutrum tincidunt a in purus. Fusce varius cursus porta. Aliquam odio massa, vulputate eget neque quis, sagittis tristique felis.

section.videos
	.container
		.row
			.col-sm-12
				h2.center Videos
				h4.center Aenean et dignissim dolor, vel bibendum ligula.
			.col-sm-4
				.embed-container
					<iframe width="640" height="360" src="//www.youtube.com/embed/vkqZ_urkje8" frameborder="0" allowfullscreen></iframe>
			.col-sm-4
				.embed-container
					<iframe width="640" height="480" src="//www.youtube.com/embed/bZGLCBFSNck" frameborder="0" allowfullscreen></iframe>
			.col-sm-4
				.embed-container
					<iframe width="640" height="360" src="//www.youtube.com/embed/p8UU1EE-6Ik" frameborder="0" allowfullscreen></iframe>
					
section.social
	.container
		.row
			.col-sm-12
				h2.center Asthmagram
				h4.center Aenean et dignissim dolor, vel bibendum ligula.
		.row.feeds		
		.row.connect		
			.col-sm-4
				h3.center Connect with Us
			.col-sm-8
				ul.social-icons
					li
						a(href="http://facebook.com/SoundAsthma", target="_blank")
							img(alt="facebook", src="/assets/img/fb.png")
					li
						a(href="http://twitter.com/SoundAsthma", target="_blank")
							img(alt="twitter", src="/assets/img/tt.png")
					li
						a(href="http://pinterest.com/SoundAsthma", target="_blank")
							img(alt="pinterest", src="/assets/img/pt.png")
					li
						a(href="http://instagram.com/SoundAsthma", target="_blank")
							img(alt="instagram", src="/assets/img/ig.png")
					li
						a(href="http://youtube.com/SoundAsthma", target="_blank")
							img(alt="youtube", src="/assets/img/yt.png")
			
footer.green
	.container
		.row
			.col-sm-6
				h3.pull-right Show Asthma Who's Boss
			.col-sm-6
				form.form-inline(role="form")
					.form-group
						input.form-control.input-sml(type="text", placeholder="Email")
					button.btn.btn-default(type="submit") Submit

script(src="/assets/js/app.js")

	