!!!
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/assets/less/bootstrap.css")
		script(src="https://trychec.com/js/embed.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="/assets/js/modernizr.custom.js")
		script(src="/assets/js/scrollorama.js")

	body.cbp-spmenu-push
		#main-navbar.navbar.navbar-fixed-top.clearHeader
			.container
				a.navbar-brand(href="#")
					img(src="/assets/img/asthmasense-2.png", alt="asthmasense")
				button#showLeftPush.pull-right.menu-trigger
					span.glyphicon.glyphicon-align-justify
				ul.nav.navbar-nav.pull-right.hidden-xs
					li
						a(href="/") AirSonea
					li
						a(href="#") AsthmaSense Cloud
					li
						a(href="#") Blog
					li
						a(href="/getstarted") Get Started
		!= yield
		
		footer.green
			.container
				.row
					.col-sm-6
						h3.pull-right Show Asthma Who's Boss
					.col-sm-6
						form.form-inline(role="form")
							.form-group
								input.form-control.input-sml(type="text", placeholder="Email")
							button.btn.btn-default(type="submit") Submit
		
		nav#cbp-spmenu.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
			a(href="#") About
			a(href="#") News
			a(href="#") Videos
		
		script(src="/assets/js/bootstrap.min.js")
		script(src="/assets/js/app.js")
			