section.head
	#header-carousel.carousel.slide
		.carousel-inner
			.item.active
				img(src="assets/img/phone.png", alt="phone")
				.carousel-caption.left
					h2 AsthmaSense
					p Anytime. Anywhere. AsthmaSense Cloud — The World’s Most Intelligent Asthma App is available for free.
					img.appstore(/src="assets/img/available-on-app-store.png", alt="available-on-app-store")
			.item
				img(src="assets/img/ipad.png", alt="ipad")
				.carousel-caption
			.item				
				img(src="assets/img/macbookair.png", alt="macbookair")
				.carousel-caption
		a.left.carousel-control(href="#header-carousel", data-slide="prev")
			span.icon-prev
		a.right.carousel-control(href="#header-carousel", data-slide="next")
			span.icon-next
		ol.carousel-indicators.hidden-xs
			li.active(data-target="#header-carousel", data-slide-to="0")
			li(data-target="#header-carousel", data-slide-to="1")
			li(data-target="#header-carousel", data-slide-to="2")

section#circles.circles			
	.container
		.row
			.col-sm-4.center
				img.siteicons(src="assets/img/AirsoneaLogoround.png", alt="AirsoneaLogoround")
				h4 AirSonea&trade;
				p With accompanying smartphone apps, AirSonea detects and measures wheeze, a primary sign of asthma.
				a.plus(href="http://airsonea.com") &plus;
			.col-sm-4.center
				img.siteicons(src="assets/img/AsthmaSenseLogoround.png", alt="Asthmasense")
				h4 AsthmaSense&reg; Cloud
				p Set reminders for meds and measurements, record symptoms and triggers, and track insights.
				a.plus(href="http://asthmasense.com") &plus;
			.col-sm-4.center
				img.siteicons(src="assets/img/BlogLogo.png", alt="Blog")
				h4 Blog
				p Information that is medically sound. Advice that is easy to follow. And information anyone can use to take action.
				a.plus(href="http://blog.asthmasense.com") &plus;
								
section.security.hidden-xs
	.container
		#feat-carousel.carousel.slide
			.carousel-inner
				.item.active.slide-icons
					.row
						.col-sm-4.center
							img(src="assets/img/WheezeWhite92.png", alt="Wheeze")
							h4 Wheeze
							p.hidden-xs Objectively detect, measure and track your WheezeRATE.  
							a.plus(href="#wheeze", data-toggle="modal") &plus;			
						.col-sm-4.center
							img(src="assets/img/AlertWhite92.png", alt="AlertWhite92")
							h4 Alert Status
							p.hidden-xs Receive alerts when your asthma risk changes or may not be well controlled.   
							a.plus(href="#alertstatus", data-toggle="modal") &plus;		
						.col-sm-4.center
							img(src="assets/img/RemindersWhite92.png", alt="RemindersWhite92")
							h4 Medication Reminders
							p.hidden-xs Set reminders for each user for medication use and peak&nbsp;flow testing.    
							a.plus(href="#reminders", data-toggle="modal") &plus;		
			
				.item.slide-icons
					.row
						.col-sm-4.center
							img(src="assets/img/measure_icon.png", alt="menu-black")
							h4 Track & Measure
							p.hidden-xs Track symptoms, triggers, lung function measurements and medication usage.  
							a.plus(href="#track", data-toggle="modal") &plus;			
						.col-sm-4.center
							img(src="assets/img/accuratedata_icon.png", alt="accuratedata_icon")
							h4 Accurate Data
							p.hidden-xs Close the loop between your asthma and physician.    
							a.plus(href="#accuratedata", data-toggle="modal") &plus;		
						.col-sm-4.center
							img(src="assets/img/cloud_icon-2.png", alt="cloud_icon-2")
							h4 Seamless Monitoring
							p.hidden-xs AirSonea and AsthmaSense Cloud are convenient and easy to use.    
							a.plus(href="#seamless", data-toggle="modal") &plus;	

			ol.carousel-indicators
				li.active(data-target="#feat-carousel", data-slide-to="0")
				li(data-target="#feat-carousel", data-slide-to="1")

section.videos.hidden-xs
	.container
		.row
			.col-sm-12
				h2.center Videos
				h4.center Learn More About AsthmaSense
			#ytChanPlayer.ytChanPlayer
		.row.more-yt
			.col-sm-12.center
				a.btn.btn-primary(href="http://youtube.com/SoundAsthma", target="_blank") More on YouTube
					
section.social
	.container
		.row
			.col-sm-12
				img.center(src="assets/img/asthmagram_logo.png", alt="AsthmagramLogo")
				h4.center Our Instagram&trade; campaign is inspiring others and helping to #BeatAsthma everyday!
		#asthmagram.row
		.row
			.col-sm-12.center
				a.btn.btn-primary(href="http://asthmagr.am", target="_blank") More on Asthmagr.am

#wheeze.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p When used with AirSonea and AsthmaSense Cloud, the ability to utilize your WheezeRATE has never been so useful evaluating your asthma risk.
				
#alertstatus.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p You can control your asthma by knowing the warning signs of an asthma attack. Making sure your asthma stays well controlled can allow you to sleep better, not miss as much work or school, take part in physical activities and most important of all, not have to go to the hospital.

#reminders.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p Most children and adults diagnosed with asthma do not keep their asthma under control, mostly due to not properly taking medications when prescribed and proper peak flow testing. 
				
#track.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p The goal of asthma treatment to control the disease is by adhering to a treatment plan that you created with your doctor. Take asthma medicines as prescribed, along with tracking symptoms and triggers can help you play an active role in managing your asthma. 
				
#accuratedata.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p By taking the guesswork out of your symptoms, triggers and events, you can manage your asthma and give accurate data to your physician so your treatment plan can work for you and not the other way around.
				
#seamless.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
				h4.modal-title Did you know?
			.modal-body
				p An estimated 235 million people worldwide suffer from asthma. There are more than 250,000 asthma-related fatalities each year. Asthma deaths are related to lack of proper treatment. Better monitoring is critical to successful asthma management. 
	