//not sure how that header image will work, maybe not possible
.post-header(style="background: url("header") center right no-repeat")
h2.post-title title
ul.post-meta
  li date
  li category
  li comment_count
.post-body
  :markdown
    I’ve had exercise-induced asthma since I was a little girl, and I hated running 
    when I was younger. Playing soccer growing up I always wanted to be the goalie 
    since they didn’t have to run as much as the other positions. Plus, I always 
    thought, “I have asthma I can’t run that much.”  I basically used it as an excuse.  
    When I was 25 I started running as a way to work through the grief associated with 
    the death of my first husband who was killed in an accident.  I realized I 
    didn’t want to use my asthma as an excuse anymore.  …
.post-footer
  a.btn.btn-default(href="#") Read More
