section.main
	.container
		.row
			.col-sm-9.posts
        each article in public.blog.data
          .post
            hr
            != partial(slug, article)
			.col-sm-3
				.sidebar
					.widget
						h3 Categories
						ul.categories
							li Dave Mull
							li Emily's Journal
							li Guest Bloggers
							li Uncategorized					
				
