!!!
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/assets/less/bootstrap.css")
		script(src="https://trychec.com/js/embed.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="/assets/js/bootstrap.min.js")
		script(src="/assets/js/feeds.js")
	body(data-spy="scroll", data-target="#main-navbar")
		!= yield
