.navbar.navbar-fixed-top
	.container.pull-right
		a.navbar-brand(href="#") AirSonea
		ul.nav.navbar-nav
			li
				a(href="/") Home
			li
				a(href="getstarted.jade") Get Started
			li
				a(href="#") Link

.start
	.container
		img.centered(src="assets/img/iphone.png", alt="iphone")
.down-triangle


	