#main-navbar.navbar.navbar-fixed-top.clearHeader
	.container
		a.navbar-brand(href="#")
			img(src="assets/img/airsonea-2.png", alt="asthmasense")
		a.expanded-menu.pull-right(href="#")
			img(src="assets/img/menu-black.png", alt="menu")
		ul.nav.navbar-nav.pull-right.hidden-xs
			li
				a(href="/") AirSonea
			li
				a(href="/asthmasense") AsthmaSense Cloud
			li
				a(href="/blog") Blog
			li
				a(href="/getstarted.html") Get Started				

.video-head
	video(autoplay="autoplay", loop="loop")
		source(src="https://www.numbrs.com/assets/numbrs-video-951b63a93943139627155c7de1d8cb86.mp4")

.video-inner
	h1 Asthma Management
	h3 Aenean et dignissim dolor, vel bibendum ligula. Proin ut scelerisque mi.
	a.preorder(href="https://ch.eckout.com/8483jS") Preorder Today
	
section.intro
	.container
		.row
			.col-sm-8
				h2 Meet AirSonea
				p A discrete-sized asthma monitoring device that turns smartphones into personal and portable asthma monitors. With the addition of AirSonea to the iSonea family, users can monitor their wheezing symptoms anytime and anywhere, so that they can better manage their condition. It makes real-time asthma monitoring a seamless, no-hassle experience. AirSonea and AsthmaSense® provide the world’s first Personal Asthma Security System.
				p The AirSonea product described is not available in the USA. The product and claims made have not yet been reviewed or cleared by the US FDA.
		
			.col-sm-4
				img.centered.img-responsive(src="assets/img/airsonea-composite-trans.png", alt="iphone")

section#airsoneafeatures.airsoneafeatures
	#airsonea-carousel.carousel.slide
		.carousel-inner
			.item.active
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#myModal", data-toggle="modal") &plus;
							#myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Lorem
										.modal-body
											p Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
										.modal-footer
											button.btn.btn-airsonea(type="button", data-dismiss="modal") Close
						.col-sm-4
							h4.center Ipsum
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#modalTwo", data-toggle="modal") &plus;
							#modalTwo.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Genra
										.modal-body
											p Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
										.modal-footer
											button.btn.btn-airsonea(type="button", data-dismiss="modal") Close
						.col-sm-4
							h4.center Genra
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#modalThree", data-toggle="modal") &plus;
							#modalThree.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
								.modal-dialog
									.modal-content
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
											h4.modal-title Genra
										.modal-body
											p Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
										.modal-footer
											button.btn.btn-airsonea(type="button", data-dismiss="modal") Close
			.item
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
			.item
				.container
					.row
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
						.col-sm-4
							h4.center Lorem
							p.center Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula.
							a.center.plus(href="#") &plus;
	
		a.left.carousel-control(href="#airsonea-carousel", data-slide="prev")
			span.icon-prev
		a.right.carousel-control(href="#airsonea-carousel", data-slide="next")
			span.icon-next

section.manage
	.container
		.row
			.col-sm-4
				a.buy(href="https://ch.eckout.com/fbNT4v") Buy Now			
			.col-sm-8
				h2 Management at your Fingertips
				p Proin ut scelerisque mi. Mauris sit amet arcu ultrices ipsum dapibus varius in sit amet dui. Aenean egestas hendrerit egestas. Aenean et dignissim dolor, vel bibendum ligula. Vestibulum in arcu eu neque rutrum tincidunt a in purus. Fusce varius cursus porta. Aliquam odio massa, vulputate eget neque quis, sagittis tristique felis.


footer.darkgreen
	.container
		.row
			.col-sm-6
				h3.pull-right Show Asthma Who's Boss
			.col-sm-6
				form.form-inline(role="form")
					.form-group
						input.form-control.input-sml(type="text", placeholder="Email")
					button.btn.btn-default(type="submit") Submit

script(src="/assets/js/app.js")

	