#main-navbar.navbar.navbar-fixed-top.clearHeader
	.container
		a.navbar-brand(href="#")
			img(src="/assets/img/asthmasense-2.png", alt="asthmasense")
		a.expanded-menu.pull-right(href="#")
			img(src="/assets/img/menu-black.png", alt="menu")
		ul.nav.navbar-nav.pull-right.hidden-xs
			li
				a(href="/") AirSonea
			li
				a(href="/asthmasense") AsthmaSense Cloud
			li
				a(href="#") Blog
			li
				a(href="/getstarted.html") Get Started
				
section.main
	.container
		.row
			.col-sm-9.posts
				.post
					.post-header(style="background: url(/assets/img/breezi_placeit-1.png) center right no-repeat")
					h2.post-title Asthma & Running
					ul.post-meta
						li August 8, 2013
						li Category Name
						li 10 Comments
					.post-body
						p I’ve had exercise-induced asthma since I was a little girl, and I hated running when I was younger. Playing soccer growing up I always wanted to be the goalie since they didn’t have to run as much as the other positions. Plus, I always thought, “I have asthma I can’t run that much.”  I basically used it as an excuse.
						p When I was 25 I started running as a way to work through the grief associated with the death of my first husband who was killed in an accident.  I realized I didn’t want to use my asthma as an excuse anymore.  …
					.post-footer
						a.btn.btn-default(href="#") Read More
				
				.post
					.post-header(style="background: url(/assets/img/breezi_placeit-1.png) center right no-repeat")
					h2.post-title Asthma & Running
					ul.post-meta
						li August 8, 2013
						li Category Name
						li 10 Comments
					.post-body
						p I’ve had exercise-induced asthma since I was a little girl, and I hated running when I was younger. Playing soccer growing up I always wanted to be the goalie since they didn’t have to run as much as the other positions. Plus, I always thought, “I have asthma I can’t run that much.”  I basically used it as an excuse.
						p When I was 25 I started running as a way to work through the grief associated with the death of my first husband who was killed in an accident.  I realized I didn’t want to use my asthma as an excuse anymore.  …
					.post-footer
						a.btn.btn-default(href="#") Read More
						
				.post
					.post-header(style="background: url(/assets/img/breezi_placeit-1.png) center right no-repeat")
					h2.post-title Asthma & Running
					ul.post-meta
						li August 8, 2013
						li Category Name
						li 10 Comments
					.post-body
						p I’ve had exercise-induced asthma since I was a little girl, and I hated running when I was younger. Playing soccer growing up I always wanted to be the goalie since they didn’t have to run as much as the other positions. Plus, I always thought, “I have asthma I can’t run that much.”  I basically used it as an excuse.
						p When I was 25 I started running as a way to work through the grief associated with the death of my first husband who was killed in an accident.  I realized I didn’t want to use my asthma as an excuse anymore.  …
					.post-footer
						a.btn.btn-default(href="#") Read More						
			
			.col-sm-3
				.sidebar
					.widget
						h3 Categories
						ul.categories
							li Dave Mull
							li Emily's Journal
							li Guest Bloggers
							li Uncategorized					
				